@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Kalkulator zapotrzebowania kalorycznego</h1>
    <p>Nasza aplikacja pozwala na obliczenie zapotrzebowania kalorycznego. Zarejestrowany i zalogowany użytkownik może zapisać swoje obliczenia na koncie i jednocześnie może obserwować jak zmieniała się jego waga.</p>
    <p><a asp-controller="Calories" asp-action="Index">Przejdź do kalkulatora</a></p>
</div>
